.contents {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 100vh;
	opacity: 0;
	width: 100vw;
	height: 100vh;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.8s;
	overflow-x: hidden;
}
.update {
	position: relative;
	margin: 0 1.3vw 0 1.7vw;
	top: 12.5vh;
	height: auto;
	width: 96vw;
}

.update-content {
	position: relative;
	top: 12vh;
	display: flex;
	flex-direction: column;
	gap: 5vh;
	overflow-y: visible;
}
.update-content-section {
	position: relative;
	width: 100%;
	height: auto;
	.section-upper {
		padding-bottom: 2vh;
	}
	.section-upper h1 {
		margin: 0;
		color: #ffff;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 4vh;
	}
	.section-main {
		.subSection-main {
			margin-bottom: 50px;
			.subSection-main-upper{
				margin-bottom: 10px;
				border-bottom: 1.5px solid #ffff;
			}
			.subSection-main-upper h1 {
				color: #ffff;
				margin: 0 0 5px 0;
				font-size: 4.5vh;
			}
			.subSection-main-content {
				display: flex;
				flex-wrap: wrap;
				gap: 2.5vw;
			}
		}
	}
}
.update-navbar {
	.top-section {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		margin: 0 1.1vw;
		padding-bottom: 1vh;
		width: 96.8vw;
		height: 20.5vh;
		border-bottom: 3px solid #00a8e8;
		background-color: #00171f;
	}
	z-index: 30;
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	&.is-minimized {
		transform: translateY(-30vh);
	}
	&.is-maximized {
		transform: translateY(0);
	}
}
.update-navbar h1 {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 4vh;
	letter-spacing: 0.5vh;
	color: #ffff;
}
.update-navbar .top-section > i {
	margin: 0;
	font-size: 4vh;
	color: #ffff;
}
@media (max-width : 440px)  {
	#update-navbar > .top-section > h1{
		font-size:3.5vh;
		letter-spacing: 1px;
	}
	#sliders-setting{
		width: 23px!important;
		height: 26.76px!important;
	}
}